<%= form_with(model: workout_equipment) do |form| %>
  <% if workout_equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout_equipment.errors.count, "error") %> prohibited this workout_equipment from being saved:</h2>

      <ul>
        <% workout_equipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :workout_id %>
    <%= form.text_field :workout_id %>
  </div>

  <div class="field">
    <%= form.label :equipment_id %>
    <%= form.text_field :equipment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
