<p id="notice"><%= notice %></p>

<h1>Workout Equipments</h1>

<table>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Equipment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workout_equipments.each do |workout_equipment| %>
      <tr>
        <td><%= workout_equipment.workout_id %></td>
        <td><%= workout_equipment.equipment_id %></td>
        <td><%= link_to 'Show', workout_equipment %></td>
        <td><%= link_to 'Edit', edit_workout_equipment_path(workout_equipment) %></td>
        <td><%= link_to 'Destroy', workout_equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout Equipment', new_workout_equipment_path %>
